---
layout: default
title: Kat
---
<div class="top-landing">
  <div class="top-landing-spacer"></div>
  <section class="top-landing-content">
    <div class="top-landing-left">
      <div class="top-landing-text">
        <h1>Kat in Her Habitat</h1>
        <p class="main-quote">"Go confidently in the direction of your dreams" </p>
        <p>- Henry David Thoreau</p>
      </div>
    </div>

    <img class="top-landing-image" src="/assets/images/kat_desert.png">
  </section>
  <div class="top-landing-spacer"></div>
</div>

<section class="post-cards">
      <div class="posts-col-0">
      {% for post in site.posts %}
        {% assign modIdx = forloop.index | minus: 1 | modulo: 3 %}
          {% if modIdx == 0 %}
            <div class="post-card">
              <a href="{{ post.url }}">
                <span>
                  <img src="/assets/images/{{ post.image }}">
                  <p class="post-card-info">{{ post.tag }}{% if post.tag %} - {%endif%}{{ post.date | date_to_string }}</p>
                  <h2>{{ post.title }}</h2>
                  <p class="excerpt">{{ post.content | strip_html | truncatewords:50 }}</p>
                </span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="posts-col-1">
      {% for post in site.posts %}
        {% assign modIdx = forloop.index | minus: 1 | modulo: 3 %}
          {% if modIdx == 1 %}
            <div class="post-card">
              <a href="{{ post.url }}">
                <span>
                  <img src="/assets/images/{{ post.image }}">
                  <p class="post-card-info">{{ post.tag }}{% if post.tag %} - {%endif%}{{ post.date | date_to_string }}</p>
                  <h2>{{ post.title }}</h2>
                  <p class="excerpt">{{ post.content | strip_html | truncatewords:50 }}</p>
                </span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="posts-col-2">
      {% for post in site.posts %}
        {% assign modIdx = forloop.index | minus: 1 | modulo: 3 %}
          {% if modIdx == 2 %}
            <div class="post-card">
              <a href="{{ post.url }}">
                <span>
                  <img src="/assets/images/{{ post.image }}">
                  <p class="post-card-info">{{ post.tag }}{% if post.tag %} - {%endif%}{{ post.date | date_to_string }}</p>
                  <h2>{{ post.title }}</h2>
                  <p class="excerpt">{{ post.content | strip_html | truncatewords:50 }}</p>
                </span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
</section>
