<div class="site-footer">
  <hr>
  <form action="https://tinyletter.com/katerinejimenez" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/katerinejimenez', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>
      <label for="tlemail">Sign up to get notified about my new posts! Your email:</label>
      <input type="text" style="width:140px" name="email" id="tlemail" />
<!--      <input type="hidden" value="1" name="embed"/>-->
      <input id="email-submit-btn" type="submit" value="Subscribe" />
    </p>
  </form>
</div>